body {
  margin         : 64px 0 0 0;
  margin: 0;
  // padding-top: 9rem;
  display        : flex;
  flex-direction : column;
  min-height     : calc(100vh - 64px);
  background: $secondColor url(../images/body.jpg) fixed;
}

// Vertical rhythm
h1, h2, h3, h4, h5, h6 {
  margin-top : 0;
  margin-bottom : 1rem;

  & + .subtitle {
    margin-top : -.5rem;
    margin-bottom : 1rem;
  }
}
h2{
  margin-top: .5rem;
}

li {
  margin-top : 0;
  margin-bottom : .75rem;
}

// Bloques de contenido
.l-block,
section,
p,
blockquote,
pre,
article,
figure,
iframe,
video,
ul,
ol {
  margin-top : 0;
  margin-bottom : 1rem;
}

// secciones principales
.l-section,.l-section-index  {
  margin-top : 0;
  margin-bottom : 4rem;

  &--main {
    margin-top : 0;
    margin-bottom : 8rem;
  }
}
.main-header + .l-section {
    // margin-top : 4rem;  
    // margin-top: 7rem;
    margin-top: 12rem;
}
.main-header + .l-section-index{
  margin-top: 6.3rem;
}

.main-banner,
.topbar {
  margin-bottom : 4rem;
}

// main-banner y top-bar no deben separarse verticalmente de su hermano anterior

.topbar + .main-banner{
  margin-top : -4rem;
}
