extends layouts/template
append config
  -currentPage = 'Juegos de Comedor'
//- block banner
  include components/slider
block main
  h2.main-main__title= currentPage
  .l-75.to-center.l-block
    .card.card--mini-horizontal
      .card__img.to-center
        img(:src='path_media + "images/comedores/grande.jpg"')
      .card__content
        //- .card__title JUEGOS DE comedores
        .card__bodys
          p BARNIZADO, respetando los colores naturales de la madera brindándole un aspecto natural, rustico, singular y poco convencional. Ningún jaspe es igual a otro y no se puede imitar lo natural, cada mueble es por ello personalizado.
          p ENVEJECIDO en sus tres tonos claro, medio y oscuro. No consiste en una técnica de simple cambio de color de la madera, se trata de darle un acabado añejo, al que de forma natural llega el pino con el paso de los años. El tratamiento se lo realiza con  “Betún de Judea”, manteniéndose la característica bicolor de la madera. Dándole a los muebles un estilo más clásico y formal que expresa elegancia, estilo y sobriedad en el gusto. Su aspecto anticuado permite una excelente combinación con el hierro forjado y otros aditamentos.
          p Un derivado de este estilo es el ENVEJECIDO  BARNIZADO, proceso por el que después  del envejecido lleva una capa de protección de barniz y que le da un toque de brillo, está es una nueva forma de presentación del mueble añejo y que depende del gusto del cliente.
  gallery-vue(idmenu = 1 folder="comedores")
    //- .gallery__item(v-for="item in mainmenu[0].submenu[0].gallery")
      img(:src="path_media + 'images/comedoress/' +item.src", alt="")