extends layouts/template
append config
  -currentPage = 'Contactos'
//- block banner
  include components/slider
block main
  section
    h2.main-main__title= currentPage
    include components/googlemap