extends layouts/template
append config
  -currentPage = 'Detalles'
//- block banner
  include components/slider
block main
  h2.main-main__title= currentPage
  .l-75.to-center.l-block
    .card.card--mini-horizontal
      .card__img.to-center
        img(:src='path_media + "images/detalles/grande.jpg"')
      .card__content
        //- .card__title JUEGOS DE LIVING
        .card__bodys
          p Esta línea además de la de cerámica se encuentra en constante desarrollo ya que permite complementar el mobiliario con pequeños detalles que adornan gratamente el hogar, facilita la elaboración de pequeños muebles, accesorios y acompañamientos que endulzan nuestros espacios.
          ul.utasataki-container
            li.s-50 Baules navideños
            li.s-50 Cajitas decorativas
            li.s-50 Joyeros
            li.s-50 Organizadores
            li.s-50 Servilleteros
            li.s-50 Cantavientos
            li.s-50 Muebles rústicos
            li.s-50 Marcos
            li.s-50 Mobiliario para niños
            li.s-50 Estante para libros
            li.s-50 Tapas decorativas para libros
  gallery-vue(idmenu = 5 folder="detalles")
    //- .gallery__item(v-for="item in mainmenu[0].submenu[0].gallery")
      img(:src="path_media + 'images/detalles/' +item.src", alt="")