extends layouts/template
append config
  -currentPage = 'Inicio'
block banner
  include components/slider
block main
  .utasataki-container
    .utasataki-item
      h2.main-main__title.foo ¿ QUÉ ES UTASATAKI ?
      p.foo Palabra del vocablo aymara que significa "PARA NUESTRA CASA". UTASATAKI es una comunidad productiva de más de diecisiete talleres especializados en carpintería con madera de pino, hierro forjado, textiles, cuero ecológico, colchones tipo somier y cerámica artística, etc.
      p.foo Son cerca de diez años de trabajo especializado en mobiliario del hogar y otros espacios que nos ha permitido mantener el liderazgo en el mercado paceño. Años de experiencia en el tratamiento de la madera de pino, demostrados en un proceso permanente de cualificación de la mano de obra para la presentación final del producto. 
      p.foo Trabajo en el que demostramos calidad, responsabilidad y garantía, con una oferta diversa de modelos exclusivos y vanguardistas, así como también en la elaboración de muebles a pedido que se acomoden a los requerimientos de personalización e individualización exigidas por nuestros clientes lo que marca la diferencia en todo el mercado de mobiliario de pino.
      //- a.foo(href=path_page+ "stylesguide").button Ver guia de estilos
    .utasataki-item.l-1-3
      h3.main-main__subtitle Muebles de pino
      p La madera de pino se caracteriza por su solidez, resistencia y una agradable presentación de sus jaspes y vetas. Además es una madera de sabor y olor picante, característica exclusiva de la madera de pino que aleja de los muebles a las temibles termitas. 
      p Existe una gran variedad de especies de madera de pino. Siendo las más conocidas en nuestro país las siguientes: El pino "Radiata" de origen chileno y cochabambino, cuyas vetas o jaspes no son muy notorios. Es de color blanco y de mayor porosidad. Otra variedad es la llamada "Taeda" de origen argentino que es importado desde Alto Paraná. Es de color un poco más amarillento y de jaspes o vetas más vistosas. 
      //- p Finalmente esta el pino "Oregón" de origen Americano y que por su excesivo uso en construcciones antiguas es una variedad extinta (usualmente es obtenida bajo la forma de reciclaje). Se caracteriza por una mayor dureza casi sin porosidad, este pino es de un color rojizo y sus jaspes o betas son de una linealidad casi geométrica. "UTASATAKI", por su calidad, consistencia y presentación, trabaja con la variedad "Radiata" y la variedad "Taeda", ambas cultivadas e importadas por dos importantes empresas bolivianas: la empresa forestal cochabambina "Multiagro" y la empresa importadora cruceña "Synergy". Empresas que nos dan la garantía del adecuado secado de la madera en hornos industriales dentro y fuera del país.
    .utasataki-item.l-1-3
      h3.main-main__subtitle Muebles de fierro forjado
      p Partimos diferenciando la herrería de la cerrajería. En la herrería el metal es calentado en fragua para después ser moldeado por la acción del combo sobre el yunque.
      p Mientras que la cerrajería consiste en el doblado del metal y el uso intensivo de la soldadura. 
      p "UTASATAKI" le ofrece un trabajo de herrería. Nuestros muebles metálicos, nuestros jaladores, y demás detalles de acompañamiento, son resultado de un esforzado trabajo en el clásico y añejo taller del "herrero". Le ofrecemos el acabado de hierro forjado en negro mate, cobre y dorado.
    .utasataki-item.l-1-3
      h3.main-main__subtitle Muebles con cerámica
      p Nuestro trabajo en cerámica es amplio y diverso, ya que permite al cliente plasmar obras de arte misma, que pueden ser personalizadas de acuerdo a su gusto y estilo, esta área permite también contar a las instituciones con la presentación de sus propios logotipos que acompañaran identificando su mobiliario.
      p Se ha logrado combinar gratamente la presentación de los muebles con cerámica que facilitan la ornamentación de los mismos.