extends layouts/template
append config
  -currentPage = 'Juegos de Living'
//- block banner
  include components/slider
block main
  h2.main-main__title= currentPage
  .l-75.to-center.l-block
    .card.card--mini-horizontal
      .card__img.to-center
        img(:src='path_media + "images/livings/grande.jpg"')
      .card__content
        //- .card__title JUEGOS DE LIVING
        .card__bodys
          p La madera de pino se caracteriza por su solidez, resistencia y una agradable presentación de sus jaspes y vetas. Además es una madera de sabor y olor picante, característica exclusiva de la madera de pino que aleja de los muebles a las temibles termitas. 
          p Existe una gran variedad de especies de madera de pino. Siendo las más conocidas en nuestro país las siguientes:
          p El pino “Radiata” de origen chileno y cochabambino, cuyas vetas o jaspes no son muy notorios. Es de color blanco y de mayor porosidad.
          p Otra variedad es la llamada “Taeda” de origen argentino que es importado desde Alto Paraná. Es de color un poco más amarillento y de jaspes o vetas más vistosas. 
          p Finalmente esta el pino “Oregón” de origen Americano y que por su excesivo uso en construcciones antiguas es una variedad extinta (usualmente es obtenida bajo la forma de reciclaje). Se caracteriza por una mayor dureza casi sin porosidad, este pino es de un color rojizo y sus jaspes o betas son de una linealidad casi geométrica.
  gallery-vue(idmenu = 0 idsubmenu = 0 folder="living")
  //- .gallery.l-block.utasataki-item
    .gallery__item(v-for="item in mainmenu[0].submenu[0].gallery")
      img(:src="path_media + 'images/livings/' +item.src", alt="")
