extends layouts/template
append config
  -currentPage = 'Juegos de dormitorio'
//- block banner
  include components/slider
block main
  h2.main-main__title= currentPage
  .l-75.to-center.l-block
    .card.card--mini-horizontal
      .card__img.to-center
        img(:src='path_media + "images/dormitorios/grande.jpg"')
      .card__content
        //- .card__title JUEGOS DE LIVING
        .card__bodys
          p En esta rama le ofrecemos una amplia variedad de almohadones, tanto para sillas, sillones, taburetes, así como mantelería y complementos tales como servilletas individuales, centros de mesa y otros. 
          p Ofertando colores de mayor elegancia que resalten la naturaleza del pino en sus diferentes acabados. 
          p Para el estilo rústico las telas van desde la bayeta de tierra, la tela de aguayo también el tocuyo, que en su presentación termina en un color hueso o crudo. Nuestro taller buscando darle mayor vida y encanto a este tipo de telas, podemos ofrecerle el teñido (garantizando que este no se decolorará con el lavado) con una gama de colores, desde tonos fuertes, hasta pasteles y suaves. Para el estilo formal y moderno le ofrecemos todo tipo de telas y tapices importados o nacionales a gusto del cliente.
  gallery-vue(idmenu = 2 idsubmenu = 0 folder="dormitorios")
    //- .gallery__item(v-for="item in mainmenu[0].submenu[0].gallery")
      img(:src="path_media + 'images/dormitorios/' +item.src", alt="")