extends layouts/template
append config
  -currentPage = 'Muebles de fierro forjado'
//- block banner
  include components/slider
block main
  h2.main-main__title= currentPage
  .l-75.to-center.l-block
    .card.card--mini-horizontal
      .card__img.to-center
        img(:src='path_media + "images/fierro/grande.jpg"')
      .card__content
        //- .card__title JUEGOS DE LIVING
        .card__bodys
          p Partimos diferenciando la herrería de la cerrajería. En la herrería el metal es calentado en fragua para después ser moldeado por la acción del combo sobre el yunque. Mientras que la cerrajería consiste en el doblado del metal y el uso intensivo de la soldadura. "UTASATAKI" le ofrece un trabajo de herrería. Nuestros muebles metálicos, nuestros jaladores, y demás detalles de acompañamiento, son resultado de un esforzado trabajo en el clásico y añejo taller del "herrero".
          p Le ofrecemos el acabado de hierro forjado en negro mate, cobre y dorado.
  gallery-vue(idmenu = 3 folder="fierro")
    //- .gallery__item(v-for="item in mainmenu[0].submenu[0].gallery")
      img(:src="path_media + 'images/fierro/' +item.src", alt="")