extends layouts/template
append config
  -currentPage = 'Muebles con cerámica'
//- block banner
  include components/slider
block main
  h2.main-main__title= currentPage
  .l-75.to-center.l-block
    .card.card--mini-horizontal
      .card__img.to-center
        img(:src='path_media + "images/ceramica/grande.jpg"')
      .card__content
        //- .card__title JUEGOS DE LIVING
        .card__bodys
          p Nuestro trabajo en cerámica es amplio y diverso, ya que permite al cliente plasmar obras de arte misma, que pueden ser personalizadas de acuerdo a su gusto y estilo, esta área permite también contar a las instituciones con la presentación de sus propios logotipos que acompañaran identificando su mobiliario.
          p Se ha logrado combinar gratamente la presentación de los muebles con cerámica que facilitan la ornamentación de los mismos.
  gallery-vue(idmenu = 4 folder="ceramica")
    //- .gallery__item(v-for="item in mainmenu[0].submenu[0].gallery")
      img(:src="path_media + 'images/ceramica/' +item.src", alt="")