extends layouts/template
append config
  -currentPage = 'Nosotros'
//- block banner
  include components/slider
block main
  .utasataki-container
    .utasataki-item
      h2.main-main__title= currentPage
    .xl-50.l-60.utasataki-item
      //- h3.main-main__subtitle Video Presentacion
      p Nuestra necesidad de un trabajo digno, rentable y sostenible en el tiempo que permita encontrar una forma de llevar el sustento a nuestras familias, hace que usando y reuniendo nuestras destrezas manuales y mentales descubramos que en el existente mercado de muebles clásicos y rutinarios, encontremos una forma acorde con las preferencias y gustos de los bolivianos. Gracias al ingenio de los primeros miembros descubrimos una veta riquísima creando una línea inagotable de muebles rústicos y funcionales a los que se les puede otorgar su propia identidad. Así UTASATAKI comienza sus actividades con dos talleres y un centro de distribución en el mercado de la Vicente Ochoa del centro paceño, el requerimiento creciente de nuestros productos nos permite ir consolidando cada vez más talleres y diversificando nuestra oferta con complementos primero de hierro forjado hasta continuar con una amplia gama (cerámica, textiles, colchones, etc.), llevando nuestros productos a la zona sur y más adelante ampliando nuestros sistemas de distribución hasta consolidar la cantidad actual de componentes y la exposición en el macro centro de Chasquipampa donde contamos con varios niveles de exposición.
    .xl-50.l-40.utasataki-item
      h3.main-main__subtitle Video Presentación
      iframe(width="100%" height="350" src="http://www.youtube.com/embed/LqDHti9LHV0?rel=0" frameborder="0" allowfullscreen="")
    .l-1-3.utasataki-item
      h2.main-main__subtitle QUE ES LO QUE HACEMOS
      p Son cerca de diez años trabajando la madera de pino como materia prima principal, madera que con sus vetas y jaspes variados y peculiares se caracteriza por su naturalidad, calidez, elegancia y nobleza, elaborando muebles y enceres complementarios para el hogar y otros espacios, que nos han permitido mantener el liderazgo en el mercado paceño. Poniendo al alcance de la población un amplia diversidad de estilos de mobiliario caracterizada por su buena calidad y bajos precios. De ahí la importancia del significado de la palabra aymara "Utasataki" que significa "para nuestra casa".
      p Nuestro estilo en cuanto a estructura, es sin lugar a dudas rústico, y se ha ido modernizando o mejor dicho acomodando al gusto y estilo de la clientela, Trabajo en el que demostramos calidad, responsabilidad y garantía, con una oferta diversa de modelos exclusivos y vanguardistas, así como también en la elaboración de muebles a pedido que se acomoden a los requerimientos de personalización exigidas por nuestros clientes. Con nosotros puedes diseñar tu mueble y marcar tu propio estilo.
    .l-1-3.utasataki-item
      h2.main-main__subtitle QUE BUSCAMOS
      p Buscamos y lo estamos logrando no solo estabilizarnos económicamente, sino crecer ininterrumpidamente en directo beneficio de cada uno de los miembros de nuestra comunidad. 
      p El crecimiento y fortalecimiento de UTASATAKI a lo largo de estos casi diez años ha permitido que sus miembros empiecen como ayudantes para después consolidar sus propios talleres y de manera paulatina agranden su capacidad productiva con nuevas maquinas mejorando la calidad de vida de todos los asociados.
      h2.main-main__subtitle HACIA DONDE VAMOS
      p Marchamos a paso seguro consolidando el liderazgo del mercado paceño y boliviano de la producción y comercialización de muebles en madera de pino, ahora ampliándonos hacia otras ramas de mobiliario único y exquisito.
    .l-1-3.utasataki-item
      h2.main-main__subtitle NUESTROS LOGROS
      p A lo largo de nuestro crecimiento tuvimos la grata posibilidad de ser invitados en diversas oportunidades por medios de comunicación televisivos, radiales y escritos que dieron a conocer nuestro trabajo como una forma de emprendimiento. 
      p Gracias a ello fuimos invitados a participar en ferias que nos permitieron llegar ampliamente a diferentes mercados. En el último evento ferial realizado a nivel de PYMES con apoyo de entidades financieras y de la CAINCO "EXPOPYME- Santa Cruz 2011" y como parte del grupo del Banco Sol, obtuvimos el premio al mejor emprendimiento, esta actividad realizada en la ciudad de Santa Cruz. También obtuvimos una importante distinción en la categoría Asociatividad en el premio Empresarial La Paz, líder del 2009. Este año fuimos nuevamente invitados para tan importante evento, en las categorías de innovación y calidad, carrera en la que nos encontramos y para la que presentaremos interesantes novedades.