// initial: 'header-initial', //Cuando el elemento se inicializa
// pinned: 'header-up', //Cuando se deplaza hacia arriba
// unpinned: 'header-down', //Cuando se deplaza hacia abajo
// top: 'header-top', //Cuando esta pegado arriba
// notTop: 'header-notop', //Cuando no esta pegado arriba
// bottom: 'header-bottom', //Cuando esta pegado abajo
// notBottom: 'header-nobottom'//Cuando no esta pegado abajo

.header-up{ //Cuando se deplaza hacia arriba

}
.header-down{ //Cuando se deplaza hacia abajo

}
.header-top{ //Cuando esta pegado arriba

}
.header-notop{ //Cuando no esta pegado arriba
  height: 5rem;
  .main-menu__ini{
    transform: translateY(1rem);
  }
  .main-menu__main{
    transform: translateY(1rem);
  }
  .main-logo {
    max-height: 80px;
  }
  .main-header__background{
    transform: scaleY(0.7);
  }
}
.header-bottom{ //Cuando esta pegado abajo

}
.header-nobottom{ //Cuando no esta pegado abajo

}
