.main-logo {
  max-height  : 105px;
  width   : auto;
  display : block;
  transition: .8s max-height;
  position: absolute;
  &--link{
    position: relative;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: inherit;
    justify-content: inherit;
  }
}
