.main-footer {
  color      : #FFF;
  background-color: transparent;
  background-image: url(../images/footer.jpg);
  background-position: bottom;
  background-size: 100% 100%;
  background-repeat-y: no-repeat;
  padding    : 2rem 0;
  font-size  : fontSize(small);
  margin-top : auto;
  a{
    color: #FFF;
    font-weight: 700;
    &:hover{
      color: $firstColor;
      text-decoration: none;
    }
  }
  &__title{
    font-family: $button-font;
    font-weight: 300;
    font-size: fontSize(title2);
    background: $firstColor;
    background: var(--first-color);
    text-align: center;
    padding: 5px;
  }
  &__item{
    width: 100%;
    // padding-left: 1rem;
    // padding-right: 1rem;
    // background: transparentize($darkColor, 0.5);
    p{
      margin-bottom: 0;
      padding: 1rem;
    }
  }
  &__content{
    width: 100%;
    @include from(l){
      height: 100%;
      max-height: 300px;
      @include from(1200px){
        max-height: 245px;
      }
    }
    padding-left: 1rem;
    padding-right: 1rem;
    background: transparentize($darkColor, 0.5);
    p{
      margin-bottom: 0;
      padding: 1rem;
    }
  }
}
