/*
  MAIN MENU
  Este es el menú principal del sitio, aparece dentro de main header

  Su estructura es
    <nav class="main-menu" id="main-menu">
      <ul>
        <li><a href="#">Item de menu</a></li>
        <li><a href="#">Item de menu</a></li>
      </ul>
    </nav>

  En movil se activa con un botón de hamburguesa.
  En el ejemplo es un div pero puede ser cualquier elemento
  (debe estar fuera del nav)
    <div id="main-menu-toggle" class="main-menu-toggle to-l"></div>

  Entra por la derecha justo debajo de main-header

*/

.main-menu {
  a:hover {
    text-decoration : none;
  }

  .active {

    @include from(l) {
      font-weight : 400;
      color: $thirdColor;

      &::before {
        display : none;
      }
    }
  }
}


body {
  position   : relative;
  right      : 0;
  transition : right .5s;

  &.main-menu-visible {
    @include to(l) {
      right      : 80%;
      overflow-y : hidden;
    }
  }
}

.main-menu-toggle {
  @include navToggle(20px, $bodyBg);
}
#main-menu{ // Se utlizo ID ya que son estilos especificamente solo para el menu hamburguesa
  @include to(l){
    position: absolute;
    right: 0;
    top: 40px;
    display: flex;
    justify-content: center;
  }
}


@mixin main-menu {
  font-size : fontSize(small);

  @include to(l) {
    position   : fixed;
    top        : 64px;
    background : rgba($firstColor, .95);
    width      : 80%;
    right      : -80%;
    padding    : 1em 1em 2em;
    height     : calc(100vh - 64px);
    transition : right .5s;
    overflow-y : auto;
    // Mostrar el menu
    &.show {
      right : 0;
    }
  }
  
  li {
    color         : #FFF;
    padding       : .5em 0;
    margin        : 0;
    @include from(l) {
      color       : $textColor;
    }
  }
  
  a {
    color : $bodyBg;
  }
}


.main-menu {
  @include main-menu;
  &__ini{
    display: flex;
    @include clearMenu;
    will-change: transform;
    transform-origin: left;
    transition    : $t-transform;
  }
  &__main{
    will-change: transform;
    transform-origin: left;
    transition    : $t-transform; 
  }
  &__submenu{
    position: absolute;
    @include clearMenu;
    border: solid 1px;
    background: #FFF;
    transform-origin: top;
    transform: scaleY(0);
    transition: .5s transform;
    a{
      color: $secondColor;
      display: block;
      padding-left: 15px;
      padding-right: 15px;
    }
    li{
      &:hover{
        background: $borderColor;
      }
    }
  }
  &__menu {
    @include clearMenu;
    @include from(l) {
      display : flex;
    }
    &>li:hover{
      .main-menu__submenu{
        transform: scaleY(1);
      }
    }
    &_link{
      font-size: 1.3rem;
      line-height: 1;
      padding-top: .5rem;
    }
  }
}
//MENU HAMBURGUESA HACKS
@include to(l){
  .show {
    right : 0;
    .main-menu.main-menu__main{
      position: fixed;
      width: 80%;
      right: 0;
      padding: 0 1em 2em;
      margin-top: 0;
      height: calc(100vh - 64px);
      transition: right .5s;
      overflow-y: auto;
      z-index: $z-back;
    }
    .main-menu__submenu{
      transform: scaleY(1);
      position: relative;
      text-align: center;
      margin-right: 1rem;
    }
  }
  .main-menu-visible .main-menu-ini {
    overflow: hidden;
    right: -80%;
    position: absolute;
    width: 80%;
    // min-width: 348px;
    height: 80px;
    top: 0;
    display: flex;
    justify-content: center;
    margin-top: 0;
    margin-bottom: 0;
    i{
      display: none;
    }
  }
}