.main-header {
  position: fixed;
  height        : 9rem;
  // border-bottom : 1px solid $borderColor;
  // background: linear-gradient($firstColor 30%, transparentize($darkColor, 0.5) 100%);
  border-radius: 0 0 10% 10%;
  display       : flex;
  align-items   : center;
  width         : 100%;
  z-index       : $z-fixed;
  transition    : $t-header;
  &__background{
    position: absolute;
    top: 0;
    z-index: $z-back;
    padding-left: 0;
    padding-right: 0;
    right: 0;
    max-width: 100%;
    min-width: 1400px;
    transform-origin: top;
    will-change: transform;
    transition: 0.5s transform;
  }
}
.svg-header{
  fill: var(--first-color);
}