.main-main{
  // margin-top: 7rem;
  background: white;
  box-shadow: inset 0 0 10px 0px $darkColor;
  padding-top: 15px;
  border-radius: 10px;
  &__title{
    font-size: fontSize(title1);
    text-transform: uppercase;
    text-align: center;
    color: $firstColor;
    border-bottom: 3px solid $firstColor;
    border-image: linear-gradient(90deg,transparent,$firstColor 50%,$firstColor 0,$firstColor 50%,transparent);
    border-image-slice: 1;
  }
  &__subtitle{
    font-size: fontSize(title2);
    background: linear-gradient($secondColorAlt, $secondColor, $secondColorAlt);
    color: #FFF;
    text-align: center;    
  }
}