.main-banner {
  background    : $firstColor;
  color         : #FFF;
  // clip-path     : polygon(0 0, 100% 0, 100% 100%, 0 94%);
  position      : relative;
  @include from(xl){ height: 550px; }
  @include fromTo(l,xl){ height: 500px; }
  @include fromTo(m,l){ height: 350px; }
  @include to(m){ height: 350px; }
  // Separación del contenido
  padding       : 9rem 0 3rem;
  @include from(l) { padding: 8.5rem 0 10rem }

  &.main-banner--secondary { background : $secondColor  }
  &.main-banner--tertiary  { background : $thirdColor  }
  &.main-banner--accent    { background : $accentColor }
  &.main-banner--dark      { background : $darkColor   }
}

.main-banner__img {
  position   : absolute;
  top        : 0;
  left       : 0;
  width      : 100%;
  height     : 100%;
  object-fit : cover;
  opacity    : 1;
}

.main-banner__data {
  position      : relative;
  text-align    : center;
  h1{
    display: inline-block;
    background: rgba(42, 108, 33, 0.62);
    padding: 0 19px 5px;
    border-radius: 13px;
    text-transform: uppercase;
  }
}

.main-banner__author {
  color: #fff;
  margin-top : -1.5rem;

  a {
    color: inherit;
  }

  &-img {
    width : 6rem;
    height : 6rem;
    border-radius : 50%;
    border : 2px solid;
    display : block;
    margin : 0 auto;
  }

  &-name {
    font-size : fontSize(small);
  }
}
