.social{
  @include mainCenter;
  @include clearMenu;
  margin-top: 1rem;
  font-size: 2rem;
  a{
    border: solid 2px;
    border-radius: 50%;
    padding: 7px;
    display: flex;
  }
  li{
    padding-left: .5rem;
    padding-right: .5rem;
  }
}