- var currentPage = 'Inicio'
- var siteName = 'UTASATAKI'
- var slogan = 'Muebles en pino – Bolivia - Comedores'
- var description = 'Comedores, mesas, sillas, mesones, bares, cocinas, alacenas, vitrinas, dormitorios, camas, camarotes, roperos, livings, sofás, sillones, estantes, escritorios.'

//- Root images/svg
- var path_media = '/assets/'

//- Root pages
- var path_page = '/'