block config
  include config
include ../mixins/main-banner
doctype html
html(lang="es" prefix="og: http://ogp.me/ns#")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="initial-scale=1.0, width=device-width")
    title= currentPage.slice(0,1).toUpperCase() + currentPage.slice(1) + " | " + siteName + ' – ' + slogan
    meta(name='designer', content='Fernando Javier Averanga Aruquipa / nandes.ingsistemas@gmail.com')
    meta(name="description" content=description)
    meta(property="og:title" content=currentPage.slice(0,1).toUpperCase() + currentPage.slice(1) + " | " + siteName)
    meta(property="og:description" content=description)  
    meta(name='author', content='')
    meta(name='keywords', content='')
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:700|Source+Sans+Pro")
    link(rel="stylesheet" href= path_media + "css/styles.css?v=1.0.0")
    //- link(rel="shortcut icon" href= path_media + "img/favicon.png")
  body(class=currentPage)
    #utasataki
      include ../components/header
      block topbar
      block banner
      .utasataki-container.main-section.l-section
        main.utasataki-item.l-100.main-main
          block main
      include ../components/footer
    script(src= path_media + "js/modernizr.js")
    script(src= "https://maps.googleapis.com/maps/api/js?key=AIzaSyAtHCWExzur9k09LtRBKmTAPqYzb6pXgqc")
    script(src= path_media + "js/script.js?v=1.0.0")
      //- script(src="js/prism.js?v2")
