td [class*="button"] {
  display: inline;

  &:last-child {
    margin-right : 0;
  }
}
.full{
  height: 100%;
}
.ah{
  opacity: 0.2;
  &:hover{
    opacity: 1;
  }
}

svg{
  // background: red;
  width: 100%;
}

	.st0{fill:#006C21;}
	.st1{fill:#7BCC03;}



.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
.map--img{
  height: 190px;
}