footer.main-footer
	.utasataki-container
		.utasataki-item.l-45.m-100.s-100.main-footer__item.l-block
			h3.main-footer__title Productos
			.main-footer__content
				ul.feature-list.utasataki-container.utasataki-container
					li.utasataki-item(v-for="item in mainmenu")
						a(v-if="item.submenu == null" :href="item.href" v-text="item.title")
						a(v-else :href="item.href" v-text="item.title + ': '")
						template(v-for="subitem in item.submenu")
							a(:href="subitem.href" v-text="' - ' + subitem.title")
		.utasataki-item.l-35.m-60.s-100.main-footer__item.l-block
			h3.main-footer__title Utasataki - Bolivia
			.main-footer__content
				p
					b Sopocachi: 
					| C. Claudio Peñaranda # 2767  Tel.: 2421416
					br
					b Cota Cota: 
					| Calle 28 # 100 Edif. Buganvilla Tel.:2792287
					br
					b Chasquipampa: 
					| Macro centro de distribución Av. Hernando Siles esq. calle 41 Tel.:2777637
					span.main-distribute 
						span.t3
							b Cel:   
							span
								i.icon-whatsapp 
								| 71563681
						span
							a.button--secondary.button--small.center(href="contactos.html") >> Ver mapa
		.utasataki-item.l-20.m-40.s-100.main-footer__item.l-block
			h3.main-footer__title Siguenos en:
			.main-footer__content.main-center.cross-center
				ul.social
					li: a.icon-whatsapp(href="https://api.whatsapp.com/send?phone=59171563681" target="_blank")
					li: a.icon-facebook(href="https://www.facebook.com/utasataki/" target="_blank")
					li: a.icon-instagram(href="https://www.instagram.com/utasataki/" target="_blank")
				p.center También puede contactarnos a:
					br 
					a(href="javascript:void(0)" target="_blank") utasataki@gmail.com
	.utasataki-container
		.utasataki-item.l-100.main-footer__item
			.main-footer__content.main-distribute.cross-center
				p Todos los Derechos Reservados ® 
					b #{siteName} 
					| © 
					span#currentDate
				p: a.ah(href='//ahpublic.com', target='_blank') Diseño y Programación: AH! PUBLICIDAD