header.main-header#header
	.main-header__background.utasataki-item
		include ../svg/headerBg.svg
		
	.utasataki-container
		.utasataki-item.s-20.l-70.header-links.main-start#main-menu
			.main-menu-toggle.to-l#main-menu-toggle
			nav.main-menu.main-menu__main.l-block
				ul.main-menu__menu
					li.main-menu__menu_li(v-for="item in mainmenu")
						a.main-menu__menu_link.button--transparent(:href="item.href")
							span(v-text="item.title")
						ul.main-menu__submenu
							li(v-for="subitem in item.submenu")
								a(:href="subitem.href" v-text="subitem.title")

		.utasataki-item.s-80.l-30.cross-center.main-center
			nav.main-menu.main-menu-ini.l-block
				ul.main-menu__ini
					li(v-for="item in menuinicio")
						a.button--small.button--ghost-white(:href="path_page + item.href")
							span(v-text="item.title  + ' '")
							i(:class="item.icon")
			a(href=path_page).main-logo--link
				template
					img#logo01.main-logo(src= path_media + "images/logo/U.png", alt="")
					img#logo02.main-logo(src= path_media + "images/logo/T1.png", alt="")
					img#logo03.main-logo(src= path_media + "images/logo/A1.png", alt="")
					img#logo04.main-logo(src= path_media + "images/logo/S.png", alt="")
					img#logo05.main-logo(src= path_media + "images/logo/A2.png", alt="")
					img#logo06.main-logo(src= path_media + "images/logo/T2.png", alt="")
					img#logo07.main-logo(src= path_media + "images/logo/A3.png", alt="")
					img#logo08.main-logo(src= path_media + "images/logo/K.png", alt="")
					img#logo09.main-logo(src= path_media + "images/logo/I.png", alt="")
					img#logo10.main-logo(src= path_media + "images/logo/cruz-andina.png", alt="")
					img#logo11.main-logo(src= path_media + "images/logo/muebles-en-pino.png", alt="")
					img#logo12.main-logo(src= path_media + "images/logo/arboles.png", alt="")
					//- img(src= path_media + 'images/logo.png').main-logo