include ../mixins/main-banner
//- .slider-next.button NEXT
//- .slider-prev.button PREV
.utasataki.l-section-index
  .utasataki-slider
    //- +banner(path_media + "images/slide01.jpg",  siteName + ' Styleguides', 'La presente guía de estilos define los componentes de diseño de ' + siteName + ' y cómo implementarlos en nuestros productos.', '', true, false)
    div(v-for="item in dataslide" class="main-banner")
      .utasataki-container
        .utasataki-item.l-75.to-center
          img(:src="path_media + item.src").main-banner__img
          .main-banner__data
            h1(v-text="item.title")
            p(v-if="item.description != ''" v-text="item.description").subtitle
            //- a(v-if="item.button != ''" href="item").button--cta.small.center Modelo de botón