// This file doesn't generate any css
@mixin button {
  display         : inline-block;
  padding         : 1em 2em;
  background      : $firstColor;
  color           : #FFF;
  margin-right    : 1rem;
  cursor          : pointer;
  text-decoration : none;
  border-radius   : .25rem;
  transition      : transform .05s;
  border          : none;
  text-align      : center;

  &:hover {
    background      : darken($firstColor, 5);
    text-decoration : inherit;
  }

  &:active {
    transform : scale(.99)
  }
}

@mixin button-small {
  padding : .1rem .5rem;
  font-size: fontSize(smaller);
}

@mixin button-center {
  display     : table;
  margin-left  : auto;
  margin-right : auto;
}

@mixin button-full {
  margin-right : 0;
  margin-left  : 0;
  width        : 100%;
}

@mixin button-last {
  margin-right: 0;
}

@mixin button-alert {
  background : $thirdColor;

  &:hover {
    background : $thirdColorAlt;
  }
}

@mixin button-cta {
  background : $accentColor;

  &:hover {
    background : $accentColorAlt;
  }
}

@mixin button-ghost {
  color      : $firstColor;
  background : none;
  border     : 1px solid;

  &:hover {
    background   : $firstColor;
    color        : #FFF;
    border-color : transparent;
  }
}
@mixin button-ghost-white {
  color      : #FFF;
  background : none;
  border     : 1px solid;

  &:hover {
    background   : #FFF;
    color        : $firstColor;
    border-color : transparent;
  }
}

@mixin button-ghost-alert {
  color : $thirdColor;

  &:hover {
    background : $thirdColor;
    color      : #FFF;
  }
}

@mixin button-ghost-cta {
  color : $accentColor;

  &:hover {
    background : $accentColor;
    color      : #FFF;
  }
}
@mixin button-transparent{
    min-width: 100px;
    height: 55px;
    @include mainCenter;
    @include crossCenter;
    padding: 0 .5rem;
    color: #fff;
    font-family: $button-font;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    border: 1px solid rgba(0,0,0,.5);
    border-bottom: 3px solid rgba(0,0,0,.5);
    border-radius: 3px;
    background: hsla(0,0%,71%,.25) url(../images/background-menu.jpg);
    box-shadow: 0 2px 8px rgba(0,0,0,.5), inset 0 1px hsla(0,0%,100%,.3), inset 0 10px hsla(0,0%,100%,.2), inset 0 10px 20px hsla(0,0%,100%,.25), inset 0 -15px 30px rgba(0,0,0,.3);
    text-decoration: none;
    will-change: transform;
    transform: rotateX(0);
    transition: .7s all;
    &:active, &:hover{
      background: transparent url(../images/background-menu.jpg);
      transform: scale(.97);
      box-shadow: none;
      perspective:700px;
    }
}
