// Settings for EDgrid
$dev        : false;
$cssCore    : false;
$cssHelpers : true;
$container : utasataki-container;
$item      : utasataki-item;
$max-width  : 1344px;
$gutter     : 1rem;

//layout
:root {
  --header-height : 3rem;
  --max-width     : 1344px;
  --gutter        : 1rem;
}

// Breakpoints  
$breakpoints : (
  s  : 0,
  m  : 640px,
  l  : 1024px,
  xl : 1440px
);

// Fracciones para calcular anchos de los items
$fractions : 3 6;

// Colors
$firstColor     : #006C21;
$firstColorAlt  : #04521b;
$secondColor    : #7D481E;
$secondColorAlt : #613616;
$thirdColor     : #FF3C32;
$thirdColorAlt  : #FF2419;
$accentColor    : #ffc935;
$accentColorAlt : #ffa135;
$darkColor      : #282D31;

// Complementary colors
$borderColor : #DFE0E0;
$textColor   : #53575A;
$bodyBg      : #FAFDFF;

:root {
  --first-color      : #006C21;
  --first-color-alt  : #04521b;
  --second-color     : #7D481E;
  --second-color-alt : #613616;
  --third-color      : #FF3C32;
  --third-color-alt  : #FF2419;
  --accent-color     : #ffc935;
  --accent-color-alt : #ffa135;
  --dark-color       : #282D31;
  --border-color     : #DFE0E0;
  --text-color       : #53575A;
  --body-bg          : #FAFDFF;
}

// z-index
$z-back    : -10;
$z-normal  : 1;
$z-tooltip : 10;
$z-fixed   : 100;
$z-modal   : 1000;

:root {
  --z-back    : -10;
  --z-normal  : 1;
  --z-tooltip : 10;
  --z-fixed   : 100;
  --z-modal   : 1000;
}

// Images path
$images-path: 'http://ux.ed.team/img';

// Transisiones time
$t-transform : .8s transform;
$t-header    : .8s height;